body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}



#SPONSORERsite {
    position: absolute;
    background: #E5E5E5;
    width: 100vw;
    height: 100vh;

    background-color: rgba(255, 255, 255, 1);
    overflow: hidden;

}



#GALLERI_SLOTT {
    position: absolute;
    left: 28.5vw;
    top: 0;
    overflow: visible;
    width: 811px;
    white-space: nowrap;
    text-align: left;
    font-family: Raleway;
    font-style: normal;
    font-weight: lighter;
    font-size: 110px;
    color: rgba(112, 112, 112, 1);
}

.Rectangle_1 {
    position: absolute;
    overflow: visible;
    max-width: 100%;
    height: 52px;
    left: 5px;
    top: 120px;
}

#navs {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    position: absolute;
    width: 97vw;
    height: 24px;

    top: 134.228px;
    overflow: visible;

}

#header {
    position: absolute;
    width: 845.448px;
    height: 24px;
    left: 537px;
    top: 134.228px;
    overflow: visible;
}

#NoPath {
    position: absolute;
    max-width: 100%;
    max-height: 40%;
    left: 12vw;
    top: 30vh;
    overflow: visible;
}

#NoPath_ {
    position: absolute;
    max-width: 100%;
    max-height: 40%;
    left: 37vw;
    top: 30vh;
    overflow: visible;
}

#NoPath___Copy__2_ {
    position: absolute;
    max-width: 100%;
    max-height: 40%;
    left: 70vw;
    top: 32vh;
    overflow: visible;
}





#Dette_skibsbillede1 {
    position: absolute;
    left: 37vw;
    top: 73vh;
    overflow: hidden;
    width: 575px;
    height: 160px;
    text-align: left;
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: lighter;

    font-size: 15px;
    color: rgb(70, 70, 70);
}


.Rectangle_2 {
    position: absolute;
    overflow: visible;

    left: 36vw;
    top: 72vh;
}

a {
    background-color: white;
    font-family: Raleway;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5;
}



a:link {
    color: rgba(112, 112, 112, 1);
}

a:visited {
    color: rgba(112, 112, 112, 1);
}

a:hover {
    color: rgb(42, 42, 42);
}

a:active {
    color: black;
}

.Rectangle_4 {
    visibility: hidden;
}


#Dette_skibsbillede2 {
    visibility: hidden;
}

.Rectangle_3 {
    visibility: hidden;
}

@media screen and (max-width: 1919px) {
    #NoPath {
        position: absolute;
        max-width: 100%;
        max-height: 40%;
        left: 7vw;
        top: 30vh;
        overflow: visible;
        transform: scale(0.9)
    }

    #NoPath_ {
        position: absolute;
        max-width: 100%;
        max-height: 40%;
        left: 35vw;
        top: 30vh;
        overflow: visible;
        transform: scale(0.9)
    }

    #NoPath___Copy__2_ {
        position: absolute;
        max-width: 100%;
        max-height: 40%;
        left: 70vw;
        top: 32vh;
        overflow: visible;
        transform: scale(0.9)
    }

    .Rectangle_2 {
        left: 3vw;
    }

    #Dette_skibsbillede1 {
        left: 3.5vw;
    }
}

@media screen and (max-width: 1700px) {
    #NoPath {
        position: absolute;
        max-width: 100%;
        max-height: 40%;
        left: 7vw;
        top: 30vh;
        overflow: visible;
        transform: scale(0.9)
    }

    #NoPath_ {
        position: absolute;
        max-width: 100%;
        max-height: 40%;
        left: 35vw;
        top: 30vh;
        overflow: visible;
        transform: scale(0.9)
    }

    #NoPath___Copy__2_ {
        position: absolute;
        max-width: 100%;
        max-height: 40%;
        left: 70vw;
        top: 32vh;
        overflow: visible;
        transform: scale(0.9)
    }
}

@media screen and (max-width: 1600px) {
    #NoPath {
        position: absolute;
        max-width: 100%;
        max-height: 40%;
        left: 5vw;
        top: 30vh;
        overflow: visible;
        transform: scale(0.6)
    }

    #NoPath_ {
        position: absolute;
        max-width: 100%;
        max-height: 40%;
        left: 33vw;
        top: 30vh;
        overflow: visible;
        transform: scale(0.6)
    }

    #NoPath___Copy__2_ {
        position: absolute;
        max-width: 100%;
        max-height: 40%;
        left: 67vw;
        top: 32vh;
        overflow: visible;
        transform: scale(0.6)
    }
}

@media screen and (max-width: 1530px) {
    #NoPath {
        position: absolute;
        max-width: 100%;
        max-height: 40%;
        left: 5vw;
        top: 30vh;
        overflow: visible;
        transform: scale(0.6)
    }

    #NoPath_ {
        position: absolute;
        max-width: 100%;
        max-height: 40%;
        left: 33vw;
        top: 30vh;
        overflow: visible;
        transform: scale(0.6)
    }

    #NoPath___Copy__2_ {
        position: absolute;
        max-width: 100%;
        max-height: 40%;
        left: 67vw;
        top: 32vh;
        overflow: visible;
        transform: scale(0.6)
    }
}

@media screen and (max-width: 1330px) {
    #NoPath {
        position: absolute;
        max-width: 100%;
        max-height: 40%;
        left: 1vw;
        top: 30vh;
        overflow: visible;
        transform: scale(0.5)
    }

    #NoPath_ {
        position: absolute;
        max-width: 100%;
        max-height: 40%;
        left: 30vw;
        top: 30vh;
        overflow: visible;
        transform: scale(0.5)
    }

    #NoPath___Copy__2_ {
        position: absolute;
        max-width: 100%;
        max-height: 40%;
        left: 67vw;
        top: 32vh;
        overflow: visible;
        transform: scale(0.5)
    }
}



@media screen and (max-width: 1020px) {
    #GALLERI_SLOTT {
        left: 0vw;
    }

    #navs {
        max-width: 100%;
        height: 24px;
        left: 0vw;
        top: 134.228px;
        overflow: visible;
    }

    #NoPath {
        max-width: 100%;
        max-height: 40%;
        left: 12vw;
        top: 30vh;
    }

    #NoPath_ {
        max-width: 100%;
        max-height: 40%;
        left: 37vw;
        top: 30vh;
    }

    #NoPath___Copy__2_ {
        max-width: 100%;
        max-height: 40%;
        left: 68vw;
        top: 32vh;
    }


    #NoPath {
        position: absolute;
        max-width: 100%;
        max-height: 40%;
        left: 0vw;
        top: 30vh;
        overflow: visible;
        transform: scale(0.5)
    }

    #NoPath_ {
        position: absolute;
        max-width: 100%;
        max-height: 40%;
        left: 25vw;
        top: 30vh;
        overflow: visible;
        transform: scale(0.5)
    }

    #NoPath___Copy__2_ {
        position: absolute;
        max-width: 100%;
        max-height: 40%;
        left: 60vw;
        top: 32vh;
        overflow: visible;
        transform: scale(0.5)
    }
}

@media screen and (max-width: 800px) {
    #navs {
        max-width: 100%;
        height: 24px;
        left: 0vw;
        top: 134.228px;
        overflow: visible;
    }

    #GALLERI_SLOTT {
        left: 0vw;
        top: ;
        font-size: 90px;
    }
}



@media screen and (max-width: 375px) {
    .Rectangle_1 {
        display: none;
    }

    #GALLERI_SLOTT {
        left: 1.5vw;
        top: 3vw;
        font-size: 49px;
    }

    #navs {
        top: 25vh;
        left: 2vw;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        text-align: center;
    }

    #SPONSORERsite {
        width: 100vw;
        height: 200vh;
    }


    .Rectangle_2 {
        display: none;
    }


    .Rectangle_3 {
        position: absolute;
        overflow: visible;

        left: 3.5vw;
        top: 87vh;
    }

    .Rectangle_4 {
        position: absolute;
        overflow: visible;

        left: 27.5vw;
        top: 10vh;
        visibility: visible;
    }


    /*_____________________________________________________________*/


    #Dette_skibsbillede1 {
        visibility: hidden;
    }

    #Dette_skibsbillede2 {
        position: absolute;
        left: 4.5vw;
        top: 87vh;
        overflow: hidden;
        width: 350px;
        height: 160px;
        text-align: left;
        font-family: "Segoe UI";
        font-style: normal;
        font-weight: lighter;

        font-size: 13px;
        color: rgb(70, 70, 70);

        visibility: visible;
    }

    #NoPath {
        position: absolute;
        max-width: 100%;
        max-height: 40%;
        left: 1.5vw;
        top: 18vh;
        overflow: visible;
        transform: scale(0.4)
    }

    #NoPath_ {
        position: absolute;
        max-width: 100%;
        max-height: 40%;
        left: 1.5vw;
        top: 44vh;
        overflow: visible;
        transform: scale(0.5)
    }

    #NoPath___Copy__2_ {
        position: absolute;
        max-width: 100%;
        max-height: 40%;
        left: 1.5vw;
        top: 60vh;
        overflow: visible;
        transform: scale(0.4)
    }
}
